body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: grey;
}

.right {
  right: 0;
  background-color: whitesmoke;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
.svg-container {
  display: inline-block;
  position: relative;
  width: fit-content;
  height: fit-content;
  vertical-align: top;
  overflow: hidden;
}
*/